In [1]:
import pandas as pd
import pandas_bin_continous as pbc

In [2]:
df = pd.read_csv("https://download.mlcc.google.com/mledu-datasets/california_housing_train.csv", sep=",")
df = df[['longitude', 'latitude']]
df.head()

   longitude  latitude
0    -114.31     34.19
1    -114.47     34.40
2    -114.56     33.69
3    -114.57     33.64
4    -114.57     33.57

In [3]:
df = pbc.create_features(df, range(32, 43), 'latitude')
df.head()

,longitude,latitude,latitude32_to_33,latitude33_to_34,latitude34_to_35,latitude35_to_36,latitude36_to_37,latitude37_to_38,latitude38_to_39,latitude39_to_40,latitude40_to_41,latitude41_to_42,latitude42_to_43
0,-114.31,34.19,0,0,1,0,0,0,0,0,0,0,0
1,-114.47,34.40,0,0,1,0,0,0,0,0,0,0,0
2,-114.56,33.69,0,1,0,0,0,0,0,0,0,0,0
3,-114.57,33.64,0,1,0,0,0,0,0,0,0,0,0
4,-114.57,33.57,0,1,0,0,0,0,0,0,0,0,0